.eathIcon64{
    background-image: url(images/earth64.png) !important;
    background-repeat: no-repeat;
    padding-left: 64px;
    background-position-y: center;
}
.eathIcon48{
    background-image: url(images/earth48.png) !important;
    background-repeat: no-repeat;
    padding-left: 48px;
    background-position-y: center;
}
.eathIcon36{
    background-image: url(images/earth36.png) !important;
    background-repeat: no-repeat;
    padding-left: 36px;
    background-position-y: center;
       color: #0471a0 !important;
        margin-left: 4px;
}
.drawLineIcon
{
    background-image: url(images/drawLine.png) !important;
    background-repeat: no-repeat;
}
.drawPointIcon
{
    background-image: url(images/drawPoint.png) !important;
    background-repeat: no-repeat;
}
.drawRectangleIcon
{
    background-image: url(images/drawRectangle.png) !important;
    background-repeat: no-repeat;
}
.drawCircleIcon
{
    background-image: url(images/drawCircle.png) !important;
    background-repeat: no-repeat;
}
.drawPolygonIcon
{
    background-image: url(images/drawPolygon.png) !important;
    background-repeat: no-repeat;
}
.editVertexIcon
{
    background-image: url(images/editVertex.png) !important;
    background-repeat: no-repeat;
}

.deleteIcon
{
    background-image: url(images/delete.png) !important;
    background-repeat: no-repeat;
}
.delete_24_Icon
{
    background-image: url(images/delete_24.png) !important;
    background-repeat: no-repeat;
}
.measureIcon
{
    background-image: url(images/measure.png) !important;
    background-repeat: no-repeat;
}
.measure_24_Icon
{
    background-image: url(images/measure_24.png) !important;
    background-repeat: no-repeat;
}
.measure_areaIcon
{
    background-image: url(images/measure_area.png) !important;
    background-repeat: no-repeat;
}

.measure_area_24_Icon
{
    background-image: url(images/measure_area_24.png) !important;
    background-repeat: no-repeat;
}
.measure_lengthIcon
{
    background-image: url(images/measure_length.png) !important;
    background-repeat: no-repeat;
}
.measure_length_24_Icon
{
    background-image: url(images/measure_length_24.png) !important;
    background-repeat: no-repeat;
}
.attributesWindowIcon
{
    background-image: url(images/AttributesWindow.png) !important;
    background-repeat: no-repeat;
}
.attributesWindow_24_Icon
{
    background-image: url(images/AttributesWindow_24.png) !important;
    background-repeat: no-repeat;
}
.attributesWindow_32_Icon
{
    background-image: url(images/AttributesWindow_32.png) !important;
    background-repeat: no-repeat;
}
.tableWindow_24_Icon
{
    background-image: url(images/TableWindow_24.png) !important;
    background-repeat: no-repeat;
}
.selectArrow_32_Icon
{
    background-image: url(images/SelectArrow_32.png) !important;
    background-repeat: no-repeat;
}


.selectArrow_32_Icon
{
    background-image: url(images/SelectArrow_32.png) !important;
    background-repeat: no-repeat;
}
.selectArrow_24_Icon
{
    background-image: url(images/SelectArrow_24.png) !important;
    background-repeat: no-repeat;
}

.selectArrow_Bold_32_Icon
{
    background-image: url(images/SelectArrow_bold_32.png) !important;
    background-repeat: no-repeat;
}
.selectArrow_Bold_24_Icon
{
    background-image: url(images/SelectArrow_bold_24.png) !important;
    background-repeat: no-repeat;
}

.identify_24_Icon
{
    background-image: url(images/identify_24.png) !important;
    background-repeat: no-repeat;
}
.identify_raster_24_Icon
{
    background-image: url(images/identify_raster_24.png) !important;
    background-repeat: no-repeat;
}

.waitbar_h
{
    background-image: url(images/waitbar_h_t.gif) !important;
    
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
}
.waitbar1
{
    background-image: url(images/waitbar1_t.gif) !important;
    background-repeat:no-repeat;
    background-position: center
}
.waitbar2
{
    background-image: url(images/waitbar2.gif) !important;
    background-repeat:no-repeat;
    background-position: center
}
.save24Icon
{
    background-image: url(images/save_24.png) !important;
    background-repeat: no-repeat;
}
.save16Icon
{
    background-image: url(images/save_16.png) !important;
    background-repeat: no-repeat;
}

.refresh16Icon
{
    background-image: url(images/refresh_16.png) !important;
    background-repeat: no-repeat;
}
.undo16Icon
{
    background-image: url(images/undo_16.png) !important;
    background-repeat: no-repeat;
}
.stop16Icon
{
    background-image: url(images/stop_16.png) !important;
    background-repeat: no-repeat;
}
.deleteVertexIcon
{
    background-image: url(images/deleteVertex.png) !important;
    background-repeat: no-repeat;
}

.undo24Icon
{
    background-image: url(images/undo_24.png) !important;
    background-repeat: no-repeat;
}
.stop24Icon
{
    background-image: url(images/stop_24.png) !important;
    background-repeat: no-repeat;
}