

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



.panel-body{
  padding: 0px;
}
.panel-group {
   margin-bottom: 0px; 
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 350px;
  max-width: 350px;
  /*background: #7386D5;*/
  /*color: #fff;*/
  /*transition: all 0.3s;*/
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -335px;
  cursor: pointer;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}
#sidebarCollapse{
  
  position: absolute;
    left: 0;
    top: 0;
    z-index: 600;
    width: 2.2em;
    height: 3em;
    border-radius: 0 10px 10px 0;
    padding: 0;
    padding-top: .1em;
    margin: 0;
    opacity: 0.3;
    color: #fff;
    background-color: rgb(94, 124, 162);
    border-color: #7b98bc;
    /* -webkit-transition: opacity 0.5s ease-in-out; */
    /* -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out; */
    /* transition: opacity 0.5s ease-in-out; */



}
#sidebarCollapse:hover{
  
  filter: alpha(opacity=100);
  opacity: 1;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  /*transition: all 0.3s;*/
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  /* #sidebar {
    
    margin-left: -335px;

  }
  #sidebar.active {
    
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  } */
}

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
} 

 /* popup style */
 .ol-popup
 {	max-width:300px;
   min-width:100px;
   min-height:1em;
 }
 /* Image on popup */
 .ol-popup img 
 {	float: left;
   margin: 0 0.5em 0 0;
   max-width: 100px;
   max-height: 100px;
 }
 /* no image content tooltips */
 .ol-popup.tooltips img
 {	display:none;
 }

 /* Custom orange style (tips) */
 .ol-popup.tips.orange
 {	border-color:#da7;
   background-color:#eca;
 }
 .ol-popup.tips.orange .anchor::before
 {	border-color: #da7 transparent;
 }
 .ol-popup-middle.tips.orange .anchor::before
 {	border-color: transparent #da7;
 }

 /* orange style (default) */
 .ol-popup.default.orange
 {	border:4px solid #f96;
 }
 .ol-popup.default.orange .anchor {
   margin: -15px 18px;
 }
 .ol-popup.default.orange .anchor::after
 {	margin: 6px /*border:4 +2 px */ -9px; 
 }
 .ol-popup-middle.default.orange .anchor::after
 {	margin: -9px 6px /*border:4 +2 px */; 
 }
 .ol-popup.default.orange .anchor::before
 {	border-color: #f96 transparent;
 }
 .ol-popup-middle.default.orange .anchor::before
 {	border-color: transparent #da7;
 }
 .ol-popup.default.orange .closeBox
 {	background-color: rgba(255, 153, 102, 0.7);
 }
 .ol-popup.default.orange .closeBox:hover
 {	background-color: rgba(255, 153, 102, 1);
 }
 .ol-popup .content {
   /* overflow:auto;
   max-height: 300px; */
   padding: 0;
 }
 .ol-popup .panel  {
   margin:0;
 }
 .ol-popup .panel .panel-body {
   max-height: 300px;
   overflow: auto;
}
.ol-popup .panel-footer{
 padding: 2px 5px;
}
.ol-popup .panel .navbar{
 margin-bottom: 0;
 min-height: 20px;

}



.ol-popup .ol-count {
 float: left;
 margin: .25em 0;
 direction: ltr;
}
.ol-popup  .ol-prev, .ol-popup .ol-next {
 border-style: solid;
 border-color: transparent rgba(0,60,136,.5);
 border-width: .5em 0 .5em .5em;
 display: inline-block;
 vertical-align: bottom;
 margin: 0 .5em;
 cursor: pointer;
}
.ol-popup .ol-prev {
 border-width: .5em .5em .5em 0;
}

.ol-popup .ol-zoombt {
 border: 0;
 width: 2em;
 height: 2em;
 display: inline-block;
 color: rgba(0,60,136,.5);
 position: relative;
 background: transparent;
 outline: none;

 font-size: 1.4em;
 float:left;
}
.ol-popup .ol-closebt {
 float: right;
 border: 0;
 width: 2em;
 height: 2em;
 display: inline-block;
 color: rgba(0,60,136,.5);
 position: relative;
 background: transparent;
 outline: none;

 font-size: 1.4em;
}
.ol-popup .panel-heading{
  background-color: #7b98bc;
    color: white;
}









    .attribute-value-changed{
      border: 1px solid #aeb3b9!important;
      background-color: #f3aeab61;
      border-style: dashed!important;
    }

    .styleSample{
    border: 2px solid #ebebeb;
    cursor:pointer;
    }

    .custom-mouse-position {
      bottom: 2px;
      left: 2px;
      /*position: absolute;*/
      border: solid 1px #cecbcb;
      padding: 0px 4px;
      /* width: 10em; */
      /* height: 1.7em; */
     
      border-radius: 4px;
      background-color: #ffffff70;
      box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
  }
  .input-group-addon {
    padding: 2px 2px;
 } 
  .colorpicker-element .input-group-addon i {
    height: 2em;
    width: 142px;
}
.colorpicker-element .input-group-addon i.raster-color {
  width: 40px;
}
#style_sampleContainer{
  position: absolute;
    top: 1em;
    right: 1em;
}

.ol-control.ol-legend {
  margin-bottom: 2em;
  max-height: 60%;
}

.modal-dialog .ui-autocomplete{
 max-height: 10em;
}











span.route-distance-label {
  /* font-weight: bold; */
  /* font-size: .9em; */
}

.route-total-distance {
  display: inline-flex;
  padding: 0 0.5em;
  font-weight: bold;
  font-size: .9em;
}

.route-total-duration {
  display: inline-flex;
  font-weight: bold;
  font-size: .9em;
  padding: 0 0.5em;
}

span.route-duration-label {
  /* font-weight: bold; */
  /* font-size: .9em; */
  line-height: unset;
}

span.route-duration-value {
  padding-left: 0.5em;
  color: #8a8686;
}

span.route-distance-value {
  padding-left: 0.5em;
  color: #8a8686;
}

/*step*/
.route-total-info{
  border: solid transparent 1px;
  padding: 0 0.2em;
  margin: .1em 0;
}
.route-total-info:hover {
  border: solid #bbb5b5 1px;
  cursor: pointer;
}
.route-step-info {
  border: solid transparent 1px;
  padding: 0 0.2em;
  margin: .1em 0;
}
.route-step-info:hover {
  border: solid #bbb5b5 1px;
  cursor: pointer;
}
.route-step-name{
  display: none;
}
.route-step-instruction{

}
.route-step-instruction .fa {
  margin-right: 0.5em;
}

.route-step-distance-label {
  display: none;
}
.route-step-distance {
  display: inline-flex;
  padding: 0 0.5em;
  font-weight: bold;
  font-size: .9em;
}

.route-step-duration {
  display: inline-flex;
  font-weight: bold;
  font-size: .9em;
  padding: 0 0.5em;
}

span.route-step-duration-label {
  /* font-weight: bold; */
  /* font-size: .9em; */
  line-height: unset;
}

span.route-step-duration-value {
  padding-left: 0.5em;
  color: #8a8686;
}

span.route-step-distance-value {
  padding-left: 0.5em;
  color: #8a8686;
}


.route-profile-selection{
  margin-bottom: 0.5em;
}
.route-profile-selection .route-profile{
  
  height: 1.6em;
    line-height: 1.2em;
    padding: .2em;
    cursor: pointer;
    margin: 0 .05em;
    min-width: 1.3em;
    text-align: center;
    border: solid transparent 1px;
}
.route-profile-selection .route-profile:hover{
  
  border: solid #bbb5b5 1px;
}

.route-profile-selection .active{
  border: solid #bbb5b5 1px;
  color:blue;
}


.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.ol-popup .ol-count {
  float: right;
  margin: .25em 0;
  direction: ltr;
}
.ol-popup  .ol-prev, .ol-popup .ol-next {
  border-style: solid;
  border-color: transparent rgba(0,60,136,.5);
  border-width: .5em 0 .5em .5em;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 .5em;
  cursor: pointer;
}
.ol-popup .ol-prev {
  border-width: .5em .5em .5em 0;
}

.ol-popup .ol-zoombt {
  border: 0;
  width: 2em;
  height: 2em;
  display: inline-block;
  color: rgba(0,60,136,.5);
  position: relative;
  background: transparent;
  outline: none;

  font-size: 1.4em;
}
/* .ol-popup .ol-zoombt:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .17em solid currentColor;
  border-radius: 100%;
  top: .3em;
  left: .3em;
}
.ol-popup .ol-zoombt:after {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 1.35em;
  left: 1.15em;
  border-width: .1em .3em;
  border-style: solid;
  border-radius: .03em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: -0.2em 0 0 -0.04em;
  box-shadow: -0.2em 0 0 -0.04em;
} */

.identifyTask-results table{
  margin-bottom: 0px;
  min-width: 8em;
}


.feature-attributes .document_item_   img,
.feature-attributes .document_item_   .avatar{
  float:left;
  margin-right: 0.2em;
  height: 2em;
  
}  
.feature-attributes .document_item_   .avatar{
  font-size: 2em;
  height: 1em;
} 

.featureAttributes_row_inserted{
  background-color: #cdf7cd;
}
.featureAttributes_row_deleted {
  background-color: #f9c9c9;
  background-image: url(images/red_wave.gif) !important;
  background-repeat:repeat-x  !important;
  background-position:bottom ;
}
.featureAttributes_row_modified {
  
  background-image: url(images/blue_wave.gif) !important;
  background-repeat:repeat-x  !important;
  background-position:bottom ;
  background-color: #cbe3f7;
}

.panel-field-group{
  padding: 5px;
}
.panel-field-group .form-group{
  margin-left: 5px;
  margin-right: 15px;
}

.attribute-value-changed{
  border: 1px solid #aeb3b9!important;
  background-color: #f3aeab61;
  border-style: dashed!important;
}
.checkbox-attribute-value-changed {
  background-color: #fbe0df;
  /* background-image: url(images/blue_wave.gif) !important; */
  background-repeat: repeat-x !important;
  background-position: bottom;
}
.attribute-value-changed .select2-selection{
  background-color: transparent;
}

#tabFeatureAttributes_form .collapsible-panel{
  margin-left: -15px;
  margin-right: -15px;
}

.collapsible-panel .panel-heading h5{
  white-space: initial;
}

.form-group .font-weight-light{
  font-weight: lighter;
  display: contents;
}
.form-group small.text-muted{
  display: inline-block;
}
.text-bg-muted {
  background-color: #c3bdbd;
}


.select2-selection__choice{
  white-space: initial;
}

.panel-field-group {
  margin-left: 15px;
  margin-right: 15px;
}

hr.field-sep{
  
  margin-top: -5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #dedada;
}
.has-attribute-value-changed > .panel-heading{
  border: 1px solid #aeb3b9!important;
  background-color: #f3aeab61;
  border-style: dashed!important;
}
.has-validation-error > .panel-heading{
  border: 1px solid #e80c4d!important;
}

.upload-commands .btn{
  margin:0.2em 0.3em;
}



.myOlTextButton24 {
  float: left;
  /* left: 0px; */
  margin: 2px!important;
  border-bottom: solid 1px #c3b6b6;
  width: 100%;
  border-left: none!important;
}
.ol-control.ol-bar .myOlTextButton24:last-child {
  border-bottom: none;
}

.draw_addFromGPS{
  position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12px;
    color: #e6ecf1;
    background-color: #009688;
}
.draw_trackGPS{
  position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12px;
    color: #e6ecf1;
    background-color: #009688;
}
.ol-control.ol-bar .ol-toggle.ol-active > button .draw_trackGPS{
  color: #009688;
    background-color: transparent;
  
}

.myOlTextButton_Space {
  border: none!important;
}

.ol-viewport .ol-coordinates-bar button {
  display: none;
  background-color: rgb(92 121 152);
}
.ol-attribution {
  font-size: 10px;
}

.gtm-setting-datetime{
  margin-bottom: 5px;
}
.gtm-setting-datetime .gtm-datetime-picker input {
  height: 2em;
    font-size: 12px;
    padding: 5px;
}
.gtm-setting-datetime .gtm-from-label,.gtm-setting-datetime .gtm-to-label {
  padding-right: 0;
}
.gtm-datetime-track{
  margin-left: 12px!important; 
     margin-right: 40px!important;
     margin-bottom: 10px;
}